$color-brand-accent:  #DEA01E;
$color-brand-dark:    #6C99D0;
$color-brand-darker:  #336699;

$color-darkest:   #336699;
$color-dark:      #6C99D0;
$color-light:     #DBF2FF;
$color-highlight: #DEA01E;
